HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!*/src/main/*/target/
!*/src/test/*/target/
!**/src/main/resources/application.properties

uploaded/bap/*
uploaded/clarification/*
uploaded/followup/*
uploaded/kka/*
uploaded/report/*

.vscode/